.loading-img {
    background: url(https://tuchuang.voooe.cn/images/2023/12/24/R-C.png) no-repeat center center;
    background-size: cover;
  }
/* 信息卡片彩带 */
.author_top:hover {
  background: url(https://tuchuang.voooe.cn/images/2023/01/02/snow.gif);
  background-size: cover;
}
